<app-header></app-header>
<div class="imprint-container">
    <button class="back-to-login btn-icon" (click)="goBack()"><img src="assets/img/arrow_back.svg" class="" alt=""></button>
    <h1>Impressum</h1>
    <div class="names">
        <h3>Angaben gemäß § 5 TMG:</h3>
        <span>Ricardo Geada</span>
        <span>Bari Sopa</span>
        <span>Guiseppe Cino</span>
    </div>
    <div class="adress">
        <h3>Postanschrift:</h3>
        <div>Ricardo Geada</div>
        <div>Stettinerstraße 20</div>
        <div>55566 Bad Sobernheim</div>
    </div>
    <div class="contact">
        <h3>Contact</h3>
        <span>Telefon: <a class="mail-link" href="tel:+491731893725">+49 1731893725</a></span>
        <span>E-Mail: <a class="mail-link" href="mailto:mail@ricardogeada.com">mail&#64;ricardogeada.com</a></span>
    </div>
</div>