<div class="reset-container">
    <button class="back-to-login btn-icon" (click)="goToCheckEmail()"><img src="assets/img/arrow_back.svg" class="" alt=""></button>
        <h1>Passwort zurücksetzen</h1>
        <form action="">
            <div>
                <img class="iconOverlay" [src]="iconPassw" alt="">
                <input [(ngModel)]="resetPassword" (focus)="changeIconPassw(true)" (blur)="changeIconPassw(false)" type="password" required name="resetPassword" ngModel #newpassword="ngModel" placeholder="Neues Passwort">
   
            </div>
            <div>
                <img class="iconOverlay" [src]="iconPassw" alt="">
                <input [(ngModel)]="resetPasswordAgain" (focus)="changeIconPassw(true)" (blur)="changeIconPassw(false)" type="password" required name="resetPassword-again" ngModel #newpasswordagain="ngModel" placeholder="Neues Passwort bestätigen">
                
            </div>
            <div class="error-msgs">
                @if (passwordError){
                    <p class="errorMsg">Mindestens 6 Zeichen, ein Großbuchstabe, ein Kleinbuchstabe, eine Zahl und ein Sonderzeichen (&#64;$!%*?&._)</p>
                } 
                @if (newpassword.value !== newpasswordagain.value) {
                    <p class="errorMsg">Ihre Passwörter stimmen nicht überein</p>
                }

            </div>
            
        </form>
        <div class="next-btn-container">
            <button class="btn" [disabled]="newpassword.value != newpasswordagain.value || newpassword.value == '' " (click)="changePassword(newpassword.value)">Passwort ändern</button>
        </div>
</div>